*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.toolbox-cont {
  display: flex;
  align-items: center;
  height: 8vw;
  width: 100vw;
  background-color: #4b4b4b;
}

.toolbox-cont>* {
  margin-left: 4vw;
}

.toolbox-color-cont {
  display: flex;
  background-color: #3d3d3d;
  height: 65%;
  width: 20%;
  align-items: center;
  justify-content:space-evenly ; 
  
}

.toolbox-color-cont>div {
  height: 50%;
  width: 17%;
}

.lightpink {

  background-color: lightpink;
}

.lightblue {

  background-color: lightblue;
}

.lightgreen {

  background-color: lightgreen;
}

.black {

  background-color: black;
}

.action-btn-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3d3d3d;
  height: 65%;
  width: 10%;

}

.action-btn-cont i{
  font-size: 3vw;
  color: white;
  
}

.modal-cont {
  position: absolute;
  top: calc((100vh - 50vh)/2); /*mistake of white-space for -*/
  left: calc((100vw - 50vw)/2);
  display: none;
  height: 50vh;
  width: 50vw;
  
}

.textarea-cont {
  height: 100%;
  width: 80%;
  background-color: #dfe4ea;
  border: none;
  resize: none;
  outline: none;
  
}

.priority-color-cont {
  height: 100%;
  width: 20%;
  background-color: #4b4b4b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.priority-color-cont>div {
  height: 12%;
  width: 60%;
}